.moneta-chart {
    margin-bottom: 20px;
    
    canvas {
        .hidden {
            display: none;
        }
    }
}
.chart-trigger {
    font-size: 12px;
    text-transform: none;
    height: 36px;
}