@keyframes marquee {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
  }
}

.exchange {
  background: $gold;
  color: #fff;
  font-size: 12px;
  padding: 6px 0;
  font-family: $font__system;
}

.exchange__body {
  position: relative;
}

.exchange__marquee {
  white-space: nowrap;
  overflow-wrap: normal;
  overflow: hidden;
}

.exchange__title {
  display: inline-block;
  margin-right: 50px;
  opacity: 0.7;
}

.exchange__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.exchange__item {
  display: inline-block;
  margin-right: 50px;
  opacity: 0.7;
  padding-right: 19px;
  position: relative;
}

.exchange-line {
  display: inline-block;
  animation: marquee 35.6s linear infinite;
}
