.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 auto 20px;
		max-width: $content-width;
		@media (min-width: $desktop-width) {
			margin-bottom: 30px;
		}
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
.post-navigation {
	a {
		border-bottom: 1px dotted $gold;
	}
}